@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

:root {
    --border-color: #dae1e6;
    --border-color-black: hsl(0, 0%, 20%);

    --text-color-main: hsl(0, 0%, 20%);
    --text-color-sub: hsl(0, 0%, 60%);
    --text-color-sub-week: hsl(0, 0%, 80%);
    --text-color-active: #4285F4;
    --text-color-white: #fff;

    --bg-color-white: #fff;
    --bg-color-gray: #f7f9fa;    
    
    --hover-bg-color: #E8F0FE;
}
/* 
@media (prefers-color-scheme: dark) {
    :root {
    }
} */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;    
    height: 100vh;
}

a {
    color: inherit;
    text-decoration: none;
}

p{color: var(--text-color-main);}

input::placeholder{
    color: var(--text-color-sub-week);
    font-weight: 400;
    font-size: 13px;
}
textarea::placeholder{
    color: var(--text-color-sub-week);
    font-weight: 400;
    font-size: 13px;
}


@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}
